1. PRINTING ODD NUMBERS IN A ARRAY

let arr = [1,2,3,4,5,6,7,8,9,10,11,12]

let odds = arr.filter(n => n%2)

console.log(odds)

2.CONVERT ALL STRINGS IN A ARRAY TO CAPS

var words = ['Foo','Bar','Fizz','Buzz'].map(function(v) {
  return v.toLowerCase();
});
console.log(words);

3.SUM OF ALL NUMBERS IN ARRAY

const add = arr => arr.reduce((a, b) => a + b, 0);
 
var arr = [3, 6, 1, 5, 8];
var sum = add(arr);
 
console.log(sum)

4.RETURN ALL PRIME NUMBERS IN A ARRAY

const newArray = [1, 3, 2, 5, 10];
const myPrimeArray = newArray.filter(num => {
  for (let i = 2; i < num; i++) {
    if (num % i === 0) return false;
  }
  return num !== 1;
});
console.log(myPrimeArray);

5.RETURN ALL PALINDROMES IN ARRAY

const arr = ['carecar', 1344, 12321, 'did', 'cannot'];AN 
const isPalindrome = el => {
   const str = String(el);
   let i = 0;
   let j = str.length - 1;
   while(i < j) {
      if(str[i] === str[j]) {
         i++;
         j--;
      }
      else {
         return false;
      }
   }
   return true;
};
const findPalindrome = arr => {
   return arr.filter(el => isPalindrome(el));
};
console.log(findPalindrome(arr));

6.REMOVE DUPLICATES FROM ARRAY

let chars = ['A', 'B', 'A', 'C', 'B'];
let uniqueChars = [...new Set(chars)];

console.log(uniqueChars);

7.ROTATE AN ARRAY BY K TIMES AND RETURN ROTATED ARRAY

Array.prototype.rotate = (function() {
    // save references to array functions to make lookup faster
    var push = Array.prototype.push,
        splice = Array.prototype.splice;

    return function(count) {
        var len = this.length >>> 0, // convert to uint
            count = count >> 0; // convert to int

        // convert count to value in range [0, len)
        count = ((count % len) + len) % len;

        // use splice.call() instead of this.splice() to make function generic
        push.apply(this, splice.call(this, 0, count));
        return this;
    };
})
